* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {  
    --color-red: #E80800;  
    --color-light-gray: #EEEEEE;  
    --color-gray: #B3B3B3;  
    --color-dark-red: #A62E2E;  
    --color-brown: #662424;  
    --color-bright-red: #F13D3D;  
    --color-dark-red: rgba(104, 22, 22, 0.59);  
    --color-orange: #FF5E24;  
    --color-bright-red-2: #FD0101;  
    --color-dark-red-2: #950500;  
    --color-yellow: #FFA200;  
    --color-orange-2: #FF7A00;  
    --color-light-gray-2: #DCDCDC;  
    --color-light-gray-3: #F7F7F7; 
    --color-light-gray-4: #999999;
    --color-bg: #0b0a0f; 
    --color-border-red: #d74342;
    --color-game-box: #44101047;
    --color-wine-red: #1B0C0F;
}

body {
    background-color: var(--color-bg) !important;
    font-family: "Poppins";
}

@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.otf);
}

@font-face {
    font-family: "Rio Grande";
    src: url(../fonts/RioGrande.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 28px;
    
}

.navbar .navbar-nav {
    display: flex;
    background: #FFFFFF0A;
    padding: 9px 30px;
    gap: 34px;
    border-radius: 100px;
    box-shadow: 0px -1px 1px 1px rgba(255, 255, 255, 0.26);
    align-items: center;
}

.navbar .navbar-nav a.nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: "Inter";
    border-radius: 10px;
    
}

.navbar  a.nav-link:hover {
    background: var(--color-red);
    border-radius: 10px;
    box-shadow: 0px 8px 24.1px 0px #6D56105C;
  
}

.navbar .navbar-toggler-icon {
    color: #fff !important;
}

.navbar .navbar-brand {
    display: none;
}

.header-sec {
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

.main-header {
    margin-top: 90px;
}

.main-header .leftside-header {
    width: 50%;
}

.main-header .leftside-header h1 {
    font-size: 99px;
    line-height: 89px;
    color: var(--color-red);
    font-family: "Rio Grande"; 
}

.main-header .leftside-header p {
    color: var(--color-light-gray);
    font-weight: 300;
    line-height: 28px;
    padding-right: 135px;
    margin: 18px 0;
    
}

.main-header .leftside-header .btn  {
    background: var(--color-red);
    padding: 12px 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 24.1px 0px #6D56105C;
    font-size: 14px;
    color: #fff;
    border: none;
}

.main-header .leftside-header .btn  a {
    color: #fff;
    font-family: "Inter";
}

.features-sec .features-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.features-sec .leftside-features {
    width: 50%;
}

.features-sec .leftside-features h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

.features-sec .leftside-features p {
    color: var(--color-gray);
    font-weight: 300;
    line-height: 28px;
}

.features-sec .leftside-features .features-box {
    display: flex;
    margin-top: 42px;
    gap: 28px;
    align-items: center;
    padding-right: 75px;
}

.features-sec .leftside-features .features-box h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.features-sec .leftside-features .features-box .box-icon {
    background: radial-gradient(109.99% 253.12% at 76.68% 66.67%, #A62E2E 0%, #662424 100%);
    box-shadow: 0px 0px 28.41px 0px #B03D3D;
    border: 1px solid var(--color-border-red);
    padding: 16px 20px;
    width: 67px;
    height: 67px;
    border-radius: 100px;
    align-items: center;
    display: flex;
}

.features-sec .rightside-features {
    position: relative;
}

.games-sec {
    padding: 100px 0;
    background-image: url(../images/Group\ 1\ \(2\).png);
    background-size: auto;
    background-position-x: center;
    background-position-y: center;
}

.games-sec .games-title {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}  

.games-sec .popular-games {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games-sec .games-col {
    display: flex;
    flex-direction: column;
    gap: 63px;
}

.games-sec .popular-games .games-box {
    text-align: center;
    background: var(--color-game-box);
    box-shadow: 0px -1px 1px var(--color-bright-red);
    border-radius: 24px;
    padding: 20px;
    
}

.games-sec .popular-games .games-box h4 {
    color: #fff;
    font-weight: 600;
}

.games-sec .popular-games .games-box p {
    color: var(--color-gray);
    font-size: 12px;
    font-weight: 300;
}

.games-sec .popular-games .games-box1, .games-sec .popular-games .games-box3, .games-sec .popular-games .games-box5 {
    margin-left: 90px;
}

.games-sec .popular-games .games-box2, .games-sec .popular-games .games-box4, .games-sec .popular-games .games-box6 {
    margin-right: 90px;
}

.reliable-sites-sec {
    margin: 100px 0;
    background-image: url(../images/Group-2.png);
    background-size: cover;
}

.reliable-sites-sec h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.reliable-sites-sec .sites-row {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 30px;
}

.reliable-sites-sec .sites-row .sites-box {
    text-align: center;
    background-color: #1B0C0F;
    border-radius: 24px;
    box-shadow: 0px -1px 1px var(--color-bright-red);
    padding: 17px 10px;
    width: 260px;
}

.reliable-sites-sec .sites-row .sites-box .score span {
    background: linear-gradient( var(--color-yellow), var(--color-orange-2));
    color: transparent;
    background-clip: text;
    font-size: 16px;
    font-weight: 600;
   
}

.reliable-sites-sec .sites-row .sites-box .stars i  {
    text-shadow: 0 0 1px var(--color-yellow);
}

.reliable-sites-sec .sites-row .sites-box .stars .checked {
    background: linear-gradient( var(--color-yellow), var(--color-orange-2));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.reliable-sites-sec .sites-row .sites-box .bonus {
    background: #FFFFFF0F;
    border-radius: 23px;
    padding: 20px;
    margin-top: 28px;
}

.reliable-sites-sec .sites-row .sites-box .bonus span {
    color: var(--color-light-gray-2);
    font-size: 11px;
    font-weight: 600;
    opacity: 50%;
    line-height: 23px;
}

.reliable-sites-sec .sites-row .sites-box .bonus p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.reliable-sites-sec .sites-row .sites-box .box-btn {
    background: linear-gradient(180deg, var(--color-red) 0%, var(--color-dark-red-2) 100%);
    width: 100%;
    border-radius: 10px;
    padding: 15px 27px;
    border: none;
    margin-top: 17px;
}

.reliable-sites-sec .sites-row .sites-box .box-btn a {
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}

.reliable-sites-sec .sites-row .sites-box .box-btn a:hover {
    text-decoration: none;
}

.blog-sec {
    padding: 100px 20px;
    background-image: url(../images/Group-26.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-sec .blog-col {
    padding: 0px 80px;
}
.blog-sec .blog-col img {
    width: 100%;
}

.blog-sec .blog-col h3 {
    color: #fff;
    width: 540px;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.blog-sec .blog-col p {
    color: var(--color-light-gray-3);
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
    line-height: 28px;
}

.faq-sec {
    padding: 100px 0 70px 0;
}

.faq-sec .faq-title h3 {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.faq-sec .faq-items {
    background: #1b1a20;
    box-shadow: 0px 0px 15px #6E8BAA1A;

}

.faq-sec button.accordion-button.collapsed {
    background: #1b1a20;
    box-shadow: 0px 0px 15px #6E8BAA1A;
    color: var(--color-gray);
    border-radius: 21px !important;
}

.faq-sec .accordion {
    gap: 10px;
    display: grid;
}

.faq-sec .accordion-body {
    background: #22171d;
    color: var(--color-light-gray-4);
    border-radius: 0px 0px 21px 21px;
    display: flex;  
    justify-content: space-between;  
    gap: 40px;

}

.faq-sec .accordion-item {
    border: none;
    border-radius: 21px;
    background: transparent;
}

.faq-sec .accordion-button:not(.collapsed) {
    box-shadow: 0px -1px 1px var(--color-bright-red);
    background: #22171d;
    color: #fff;
    font-weight: 500;
    border-radius: 21px 21px 0px 0px;
}

.faq-sec .accordion-item:first-of-type>.accordion-header .accordion-button {
    border-radius: 21px 21px 0px 0px;
}

.faq-sec .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-radius: 0px 0px 21px 21px;
}

.accordion-button::after {
    background: #EFF5F9;
    width: 22px;
    height: 22px;
    border-radius: 50px;
}

.footer-sec p {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 36px;
}

.footer-sec .footer-line {  
    border: none;  
    height: 1px; 
    border: 0.91px solid;
    background: linear-gradient(270deg, #343045 0%, #C0B7E8 34.9%, #8176AF 68.75%, #343045 100%);  
    margin-bottom: 40px;
} 